# Ignorar entornos virtuales
.venv/
myenv/

# Ignorar Datos
InOutWebScrap/
SSMS/lib/

# Ignorar archivo de credenciales
SSMS/config.json

# Ignorar configuración de Git
.git/

# Ignorar archivos CSV y Excel
*.csv
*.xlsx
*.txt
*.json